@import "./vars.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  overflow-x: hidden;
}

body {
  background-color: $background;
}

a {
  text-decoration: none;
  color: $text-color;
}
