$background: #0e0e0e;
$logo-color: #ff5b50;
$card-color: #252525;
$card-color-hover: #2e2e2e;
$text-color: #fff;
$subtitle-color: #5a5757;
$black-text: #000;
$input-color: #0d0d0d;

$scroll-color: #3f3f3f;
$scroll-hover: #1a1a1a;
