@import "../../styles/vars.scss";

.banner {
  border-bottom: 2px solid $subtitle-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 37px;

  @media (min-width: 1200px) {
    flex-direction: row;
    margin-top: 0;
    justify-content: flex-start;
    align-items: stretch;
    height: 70vh;
  }
  .left-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 30px;

    @media (min-width: 1200px) {
      min-width: 400px;
      justify-content: space-evenly;
      gap: 0;
      align-items: stretch;
      margin: 0;
      border-right: 2px solid $subtitle-color;
    }

    .banner-content-left-items {
      text-align: center;
      @media (min-width: 1200px) {
        width: 400px;
        justify-content: space-evenly;
        gap: 0;
        align-items: stretch;
      }
      h3 {
        font-weight: 600;
        font-size: 40px;
        color: $text-color;
      }
      span {
        color: $subtitle-color;
        font-weight: 600;
        font-size: 15px;
      }
    }
  }

  .banner-content {
    display: flex;
    flex-direction: column;

    .banner-content-items-container {
      display: flex;

      flex-direction: column;
      padding: 37px;
      flex: 3;
      @media (min-width: 1200px) {
        flex-direction: row;
        padding: 0;
        flex: 1;
        justify-content: space-between;
        align-items: center;
      }

      .banner-content-item {
        max-width: 60%;
        margin: 0 auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;

        @media (min-width: 1200px) {
          max-width: 30%;
        }
        p {
          color: $text-color;
          font-size: 19px;
          text-align: center;

          @media (min-width: 1200px) {
            text-align: justify;
          }
        }
        a {
          text-decoration: underline;
          font-size: 16px;
        }

        .contrast {
          color: $logo-color;
        }

        &:last-child {
          margin-bottom: 97px;
          @media (min-width: 1200px) {
            margin-bottom: 0px;
          }
        }
      }
    }

    img {
      margin-bottom: 17px;
      height: auto;
      width: 100vw !important;
      flex: 1;

      @media (min-width: 1200px) {
        margin-bottom: 0px;
      }
    }
  }
}

.poppular-of-week {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-weight: 600;
    margin: 45px 0;
    color: $text-color;
    font-size: 30px;
    .contrast {
      color: $logo-color;
    }
  }

  .itens-container {
    display: flex;
    flex-direction: column;
    gap: 75px;

    padding-bottom: 15px;
    @media (min-width: 1200px) {
      flex-direction: row;
      gap: 100px;
    }
    .left-area {
      @media (min-width: 1200px) {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 32px;
      }
    }
    .center-area {
      .line {
        width: 2px;
        background-color: $subtitle-color;
        height: 100%;
      }
    }
    .right-area {
      @media (min-width: 1200px) {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 32px;
      }
    }

    .item {
      padding: 15px;
      .item-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
        h3 {
          color: $text-color;
        }
      }

      img {
        width: auto;
        height: 200px;
        border-radius: 5px;
      }
      .info {
        display: flex;
        justify-content: space-between;
        padding: 18px 0;
        .name {
          color: $subtitle-color;
        }
        .value {
          color: $logo-color;
        }
      }
    }
  }
}

.top-artists {
  padding: 12px;

  @media (min-width: 1200px) {
    padding: 50px 50px 0px 50px;
    max-width: 1400px;
    margin: 90px auto;
  }

  h2 {
    font-size: 40px;
    color: $text-color;
    text-align: center;
    margin-bottom: 50px;
  }
  .contrast {
    color: $logo-color;
  }

  .artist-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;

    color: $text-color;
    .artists-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 90px;
      .card {
        transition: background-color 0.5s, transform 0.5s;
        padding: 20px;
        background-color: $card-color;
        display: flex;
        text-align: start;
        gap: 70px;
        border-radius: 4px;
        .card-content {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: stretch;
          justify-content: center;
        }

        .contrast {
          color: $logo-color;
        }

        &:hover {
          background-color: $card-color-hover;
          transform: scale(0.9);
        }
      }
    }

    .show-all-artists {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
      gap: 17px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
