@import "../../styles/vars.scss";

.footer {
  display: flex;
  flex-direction: column;
  background-color: $card-color;
  .footer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid $subtitle-color;

    button {
      transition: transform 0.3s;
      height: 60px;
      width: 60px;
      outline: none;
      border: 0;
      background-color: $logo-color;
      cursor: pointer;

      &:hover {
        transform: scale(0.9);
      }
    }
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    // height: 40vh;

    @media (min-width: 1200px) {
      flex-direction: row;
      padding: 0;
      border-bottom: 1px solid $subtitle-color;
      height: 300px;
    }

    .footer-form {
      padding: 17px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      height: 100%;
      margin: 0;

      h3 {
        color: $text-color;
        font-weight: 500;
        text-align: center;
        font-size: 27px;
      }
      span {
        display: block;
      }
      .contrast {
        color: $logo-color;
      }
      .inputs {
        display: flex;
        flex-direction: column;
        gap: 13px;

        @media (min-width: 1200px) {
          flex-direction: row;
          gap: 0;
          align-items: center;
        }
        input[type="text"] {
          width: 100%;
          outline: none;
          padding: 15px;
          font-size: 17px;
          border: 0;
          background-color: $input-color;
          color: $text-color;
          height: 46px;

          &::placeholder {
            color: $subtitle-color;
          }
        }

        input[type="submit"] {
          align-self: flex-end;
          background-color: $text-color;
          border: 0;
          padding: 15px 23px;
          font-weight: bold;
          cursor: pointer;
        }
      }

      @media (min-width: 1200px) {
        width: 500px;
        // gap: 100px;
        border-right: 1px solid $subtitle-color;
      }
    }

    .content-links-container {
      display: flex;
      padding: 17px;
      margin-top: 15px;
      display: flex;
      justify-content: space-around;
      @media (min-width: 1200px) {
        justify-content: space-evenly;
        flex: 1;
      }
      .content-links-item {
        h4 {
          color: $text-color;
          margin-bottom: 12px;
        }
        li {
          a {
            display: inline-block;
            color: $subtitle-color;
            margin-top: 10px;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .footer-end {
    display: flex;
    padding: 17px 25px 12px 25px;
    justify-content: space-between;
    align-items: center;
    .social-media {
      display: flex;
      gap: 15px;
    }

    @media (min-width: 1200px) {
      padding: 17px 50px 12px 50px;
    }
  }
}
